<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to QnA Forum, <%= @user.name %></h1>
    <p>Answer  : <%= @answer.answer></p>
  </body>
</html>
